<ion-view title="Add New Pet" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="addNewPet-form4" class="list">
      <label class="item item-input" id="addNewPet-input12">
        <input type="text" placeholder="Pet Name">
      </label>
      <label class="item item-select" id="addNewPet-select2">
        <span class="input-label">Species</span>
        <select>
          <option>Canine</option>
          <option>Feline</option>
        </select>
      </label>
      <label class="item item-select" id="addNewPet-select6">
        <span class="input-label">Gender</span>
        <select>
          <option>Male</option>
          <option>Female</option>
        </select>
      </label>
      <label class="item item-input" id="addNewPet-input15">
        <span class="input-label">Date of birth</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="addNewPet-input17">
        <input type="number" placeholder="Age">
      </label>
      <label class="item item-input" id="addNewPet-input16">
        <input type="text" placeholder="Additional Info">
      </label>
    </form>
    <a ui-sref="menu.myPet()" id="addNewPet-button10" class="button button-positive button-block">Save Pet</a>
  </ion-content>
</ion-view>