<ion-view title="Login Page" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="loginPage-form1" class="list">
      <label class="item item-input" id="loginPage-input1">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input" id="loginPage-input2">
        <input type="password" placeholder="Password">
      </label>
    </form>
    <a ui-sref="menu.homePage()" id="loginPage-button7" class="button button-positive button-block">Login</a>
  </ion-content>
</ion-view>