<ion-view title="Main Page" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 86px;"></div>
    <a ui-sref="loginPage()" id="mainPage-button5" class="button button-positive button-block">Login</a>
    <a ui-sref="signUp()" id="mainPage-button6" class="button button-positive button-block">Sign up</a>
    <div class="spacer" style="width: 300px; height: 191px;"></div>
    <div id="mainPage-button-bar1" class="button-bar">
      <button id="mainPage-button12" style="font-size:12px;" class="button button-positive button-block">About Us</button>
      <a href="tel:+603 4042 6742" id="mainPage-button13" style="font-size:12px;" class="button button-positive button-block">Call Us</a>
      <button id="mainPage-button14" style="font-size:12px;" class="button button-positive button-block">Direction</button>
    </div>
  </ion-content>
</ion-view>