<ion-view title="My Pet" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="myPet-list3">
      <ion-item class="item-avatar" id="myPet-list-item10">
        <h2>Casper</h2>
        <p>Must have consultation history</p>
      </ion-item>
      <ion-item class="item-avatar" id="myPet-list-item11">
        <h2>Tinkerbell</h2>
        <p>Must have consultation history</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 64px;"></div>
    <a ui-sref="menu.addNewPet()" id="myPet-button9" class="button button-positive button-block">Add Pet</a>
  </ion-content>
</ion-view>