<ion-view title="Request an Appointment" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="requestAnAppointment-form5" class="list">
      <label class="item item-select" id="requestAnAppointment-select7">
        <span class="input-label">Select Pet</span>
        <select></select>
      </label>
      <label class="item item-select" id="requestAnAppointment-select8">
        <span class="input-label">Preferred Dr</span>
        <select></select>
      </label>
      <label class="item item-input" id="requestAnAppointment-input13">
        <span class="input-label">Preferred Time</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="requestAnAppointment-input14">
        <span class="input-label">Preferred Date</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-select" id="requestAnAppointment-select9">
        <span class="input-label">Type of service</span>
        <select>
          <option>Vaccination</option>
          <option>Exam for problem</option>
          <option>Spay/Neuter</option>
          <option>Other</option>
        </select>
      </label>
    </form>
    <button id="requestAnAppointment-button11" class="button button-positive button-block">Request Appointment</button>
  </ion-content>
</ion-view>