<ion-view title="Sign Up" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="signUp-form3" class="list">
      <label class="item item-input" id="signUp-input6">
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input" id="signUp-input8">
        <input type="number" placeholder="IC Number">
      </label>
      <label class="item item-input" id="signUp-input7">
        <input type="tel" placeholder="Contact Number">
      </label>
      <label class="item item-input" id="signUp-input5">
        <input type="text" placeholder="Address">
      </label>
      <label class="item item-input" id="signUp-input9">
        <input type="email" placeholder="Email - User ID">
      </label>
      <label class="item item-input" id="signUp-input10">
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input" id="signUp-input11">
        <input type="password" placeholder="Confirm Password">
      </label>
    </form>
    <a ui-sref="mainPage()" id="signUp-button8" class="button button-positive button-block">Sign Up</a>
  </ion-content>
</ion-view>